.App {
  text-align: center;
}

.container {
  margin: 25px 100px;
}

.selectors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 80px;
}
